<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
		xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
		xmlns:context="http://www.springframework.org/schema/context"
		xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
				http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-2.5.xsd">

	<context:annotation-config />
	
	<context:component-scan base-package="com.prashanth.derby" />
	
	<!-- org.springframework.jdbc.datasource.DriverManagerDataSource = FOR SPRING JDBC -->
	<!-- org.apache.commons.dbcp.BasicDataSource = FOR DBCP which has inbuilt connection pooling in real-time -->
	<bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource">
		<property name="driverClassName" value="org.apache.derby.jdbc.ClientDriver" />
		<property name="url" value="jdbc:derby://localhost:1527/db;create=true" />
		<property name="initialSize" value="2" />
		<property name="maxActive" value="5" />
	</bean>

	<bean id="namedParameterDaoImpl" class="com.prashanth.derby.dao.NamedParameterDaoImpl">
		<property name="dataSource" ref="dataSource" />
	</bean>

	<!--Incomplete
	<bean id="sessionFactory" class="org.springframework.orm.hibernate3.annotation.AnnotationSessionFactoryBean">
		<property name="dataSource" ref="dataSource" />
		<property name="packagesToScan" value="com.prashanth.derby.model" />
		<property name="hibernateProperties">
			<props>
				<prop key="dialect">org.hibernate.dialect.DerbyDialect</prop>
			</props>
		</property>
	</bean>
	-->
</beans>